nav#navbar {
    background : rgb(243, 243, 243) none repeat scroll 0% 0%;
    border-radius: 1rem;
    padding: .35rem;
    margin: 1rem;
    min-height: calc(100% - 2rem);
    width: 3.5rem;
    min-width: 3.5rem;
}

nav#navbar button.nav-button {
    margin: .2rem 0;
    border-radius: 11px;
    box-shadow: none;
    padding: 0rem;
    height: 2.5rem;
}

nav#navbar button.nav-button:hover, 
nav#navbar button.nav-button.selected:hover, 
nav#navbar button.nav-button.selected,
nav#navbar button.nav-button.selected:active, 
nav#navbar button.nav-button.selected:focus 
{
    background : #E3E3E3;
}

nav#navbar button.nav-button:active, 
nav#navbar button.nav-button:focus 
{
    background : inherit;
}